# Base ---------------------------------------
mediapipe==0.10.18 
ultralytics
torch
torchvision
torchaudio
opencv-contrib-python-headless===4.10.0.84
matplotlib
numpy
python-dotenv
onnxruntime
# onnxruntime-gpu
twilio



# WebUI ---------------------------------------
tqdm
gradio==5.7.0
gradio-webrtc