# Base ---------------------------------------

ultralytics
torch
torchvision
torchaudio
opencv-python-headless
opencv-contrib-python-headless
matplotlib
numpy
python-dotenv
onnxruntime
# onnxruntime-gpu
twilio

mediapipe

# WebUI ---------------------------------------
tqdm
gradio==5.7.0
gradio-webrtc