# Base ---------------------------------------

ultralytics
torch
torchvision
torchaudio
opencv-python-headless
opencv-contrib-python-headless
matplotlib
numpy
python-dotenv

# WebUI ---------------------------------------
tqdm
gradio==5.7.0